  <div style="background-color: black;">

   <div class="container">
     <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="lr_inner_title_heading_wrapper">
           <h2>About Us <span></span></h2>
         </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="lr_inner_title_right_Wrapper">
           <ul>
             <li><a href="index.html">Home &nbsp;&nbsp;&nbsp;></a></li>
             <li>About Us</li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>


    <!-- lr about section Start -->
    <div class="lr_about_section_main_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="lr_index_about_right_wrapper">
              <h2>Welcome At<span></span></h2>
              <h3>WESTROT RESTAURANT</h3>
              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim anim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum
                doore eu fgiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.<br><br>Sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim
                anim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum doore eu fgiat nulla pariatur. Excepteur sint
                occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#" class="lr-btn lr-btn2 move-eff"><span>ABOUT US</span></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="lr_about_slider_main_wrapper">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <div class="lr_about_slider_img_wrapper">
                    <img src="assets/UserAssets/images/content/about_slider_img.jpg" alt="fresh_food_img">
                  </div>
                </div>
                <div class="item">
                  <div class="lr_about_slider_img_wrapper">
                    <img src="assets/UserAssets/images/content/about_slider_img.jpg" alt="fresh_food_img">
                  </div>
                </div>
                <div class="item">
                  <div class="lr_about_slider_img_wrapper">
                    <img src="assets/UserAssets/images/content/about_slider_img.jpg" alt="fresh_food_img">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- lr about section End -->
    <!-- lr about services section Start -->
    <div class="lr_about_service_main_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="lr_about_service_heading_wrapper">
              <h2><span class="lr_dots_left"></span>Our Services<span class="lr_dots_right"></span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<br> ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lr_as_box_main_wrapper">
              <div class="lr_as_icon_wrapper">
                <i class="flaticon-chef-hat-outline-symbol"></i>
              </div>
              <div class="lr_as_icon_cont_wrapper">
                <h2><a href="#">Best Dishes</a></h2>
                <p>Lorem ipsum dolor sit amet, tetur Vesti bulum vel ipsum ullarper as This is Photoshop's version.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lr_as_box_main_wrapper">
              <div class="lr_as_icon_wrapper">
                <i class="flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view"></i>
              </div>
              <div class="lr_as_icon_cont_wrapper">
                <h2><a href="#">Premium Cafe</a></h2>
                <p>Lorem ipsum dolor sit amet, tetur Vesti bulum vel ipsum ullarper as This is Photoshop's version.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lr_as_box_main_wrapper">
              <div class="lr_as_icon_wrapper">
                <i class="flaticon-cheers"></i>
              </div>
              <div class="lr_as_icon_cont_wrapper">
                <h2><a href="#">Drinks & Bar</a></h2>
                <p>Lorem ipsum dolor sit amet, tetur Vesti bulum vel ipsum ullarper as This is Photoshop's version.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lr_as_box_main_wrapper">
              <div class="lr_as_icon_wrapper">
                <i class="flaticon-edit"></i>
              </div>
              <div class="lr_as_icon_cont_wrapper">
                <h2><a href="#">Reservation</a></h2>
                <p>Lorem ipsum dolor sit amet, tetur Vesti bulum vel ipsum ullarper as This is Photoshop's version.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lr_as_box_main_wrapper">
              <div class="lr_as_icon_wrapper">
                <i class="flaticon-cutlery"></i>
              </div>
              <div class="lr_as_icon_cont_wrapper">
                <h2><a href="#">Custom Dishes</a></h2>
                <p>Lorem ipsum dolor sit amet, tetur Vesti bulum vel ipsum ullarper as This is Photoshop's version.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="lr_as_box_main_wrapper">
              <div class="lr_as_icon_wrapper">
                <i class="flaticon-discount-sticker-with-percentage"></i>
              </div>
              <div class="lr_as_icon_cont_wrapper">
                <h2><a href="#">Special Offers</a></h2>
                <p>Lorem ipsum dolor sit amet, tetur Vesti bulum vel ipsum ullarper as This is Photoshop's version.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- lr about services section End -->
    <!-- lr menu section Start -->
    <div class="lr_menu_section_main_wrapper lr_about_menu_section_main_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <div class="lr_menu_section_heading_wrapper">
              <h2>Special Menu<span></span></h2>
            </div>
            <div class="lr_menu_section_list_wrapper">
              <ul>
                <li>Berry Trifl<span>$70.00</span></li>
                <li>Chocolate Crepes<span>$20.00</span></li>
                <li>Double Chocolate Pie<span>$75.00</span></li>
                <li>French Croissants<span>$60.00</span></li>
                <li>French Macaroons<span>$80.00</span></li>
                <li>Wheat caprese slice<span>$55.00</span></li>
              </ul>
              <a href="#" class="lr-btn move-eff lr_menu_btn"><span>read more</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- lr menu section End -->
    <!-- lr team section Start -->
    <div class="lr_team_main_section_wrapper lr_about_team_main_section_wrapper">
      <div class="lr_about_team_img_overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="lr_team_heading_wrapper lr_about_team_heading_wrapper">
              <h2>Our Best Chef<span></span></h2>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="lr_team_slider_wrapper">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <div class="lr_team_box_main_wrapper">
                    <div class="lr_team_img_wrapper">
                      <img src="assets/UserAssets/images/content/t1.png" alt="team_img">
                    </div>
                    <div class="lr_team_img_cont_wrapper">
                      <div class="lr_team_social_left_wrapper">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                      </div>
                      <div class="lr_team_name_center_wrapper">
                        <h3><a href="#">Ajay S.</a></h3>
                        <p>(Senior Chef)</p>
                      </div>
                      <div class="lr_team_social_right_wrapper">
                        <ul>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="lr_team_box_main_wrapper">
                    <div class="lr_team_img_wrapper">
                      <img src="assets/UserAssets/images/content/t2.png" alt="team_img">
                    </div>
                    <div class="lr_team_img_cont_wrapper">
                      <div class="lr_team_social_left_wrapper">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                      </div>
                      <div class="lr_team_name_center_wrapper">
                        <h3><a href="#">Shruti J.</a></h3>
                        <p>(Senior Chef)</p>
                      </div>
                      <div class="lr_team_social_right_wrapper">
                        <ul>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="lr_team_box_main_wrapper">
                    <div class="lr_team_img_wrapper">
                      <img src="assets/UserAssets/images/content/t3.png" alt="team_img">
                    </div>
                    <div class="lr_team_img_cont_wrapper">
                      <div class="lr_team_social_left_wrapper">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                      </div>
                      <div class="lr_team_name_center_wrapper">
                        <h3><a href="#">Ajay S.</a></h3>
                        <p>(Senior Chef)</p>
                      </div>
                      <div class="lr_team_social_right_wrapper">
                        <ul>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- lr team section End -->
    <!-- lr reservation section Start -->
    <div class="lr_reser_main_section_wrapper">
      <div class="lr_reser_heading_main_wrapper">
        <h2><span class="lr_dots_left"></span>Make A Reservation<span class="lr_dots_right"></span></h2>
      </div>
      <div class="lr_reser_map_left_wrapper">
        <div id="map"></div>
      </div>
      <div class="lr_reser_map_right_wrapper">
        <div class="lr_reser_map_right_inner_wrapper">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="lr_reser_inner_heading">
              <h2>Reservation</h2>
              <p>+1800-154-175</p>
            </div>
          </div>
          <div class="lr_reser_input_box_main_wrapper">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="lr_reser_input_box_Wrapper">
                <input type="text" placeholder="Name">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="lr_reser_input_box_Wrapper">
                <input type="text" placeholder="Email">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="lr_reser_input_box_Wrapper">
                <input type="text" placeholder="Date">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="lr_reser_input_box_Wrapper">
                <input type="text" placeholder="08:00am">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="lr_reser_input_box_Wrapper">
                <select>
                  <option>No.of Guest</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="lr_reser_input_box_Wrapper">
                <select>
                  <option>No.of Guest</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="lr_reser_input_box_Wrapper">
                <textarea rows="4" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="lr_reser_input_box_Wrapper">
                <a href="#" class="lr_reser_btn_background move-eff lr_ff_btn2"><span>Book Table</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="lr_reser_map_right_inner_img_wrapper">
          <img src="assets/UserAssets/images/content/sheif_img.png" alt="reser_img">
        </div>
      </div>
    </div>
    <!-- lr reservation section End -->
    <!-- lr About offer section Start -->
    <div class="lr_about_offer_main_section_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="lr_about_offer_left_wrapper">
              <h2>Today Offer <span></span></h2>
              <p>Happy Customer Discounts lorem spum part<br> the cleints shopping</p>
              <a href="#" class="lr-btn-background move-eff lr_ff_btn2"><span>View Offer’s</span></a>
              <a href="#" class="lr-btn move-eff lr_ff_btn1"><span>Book Table</span></a>
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="lr_about_offer_right_wrapper">
              <div class="lr_about_offer_right_heading">
                <h2>50% off</h2>
              </div>
              <div class="lr_about_offer_right_heading_img">
                <img src="assets/UserAssets/images/content/about_cofee_img.jpg" alt="coffee_img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- lr About offer section End -->
    <!-- lr counter section Start -->
    <div class="lr_count_main_section_wrapper lr_about_count_main_section_wrapper">
      <div class="lr_count_img_overlay"></div>
      <section class="counter-section section-padding">
        <div class="container text-center">
          <div class="row">
            <div class="trucking_counter">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="con con_right_border">
                  <i class="flaticon-chef-hat-outline-symbol"></i>
                </div>
                <div class="count-description">
                  <span class="timer">513</span>
                  <h5 class="con1">Delicious Dishes</h5>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="con con_right_border con2">
                  <i class="flaticon-cup"></i>
                </div>
                <div class="count-description">
                  <span class="timer">7325</span>
                  <h5 class="con2">Years Of Experience</h5>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="con con_right_border con3">
                  <i class="flaticon-user"></i>
                </div>
                <div class="count-description">
                  <span class="timer">1924</span>
                  <h5 class="con3">Happy Clents</h5>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="con con4">
                  <i class="flaticon-trophy"></i>
                </div>
                <div class="count-description">
                  <span class="timer">4275</span>
                  <h5 class="con4">Deserved Awards</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- lr counter section End -->
    <!-- lr Partner section Start -->
    <div class="lr_partner_main_wrapper lr_about_partner_main_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="lr_reser_heading_main_wrapper">
              <h2><span class="lr_dots_left"></span>Our Patner’s<span class="lr_dots_right"></span></h2>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="lr_prt_slider_wrapper">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <div class="lr_prt_img_wrapper">
                    <img src="assets/UserAssets/images/content/p1.jpg" alt="partner_img">
                  </div>
                </div>
                <div class="item">
                  <div class="lr_prt_img_wrapper">
                    <img src="assets/UserAssets/images/content/p2.jpg" alt="partner_img">
                  </div>
                </div>
                <div class="item">
                  <div class="lr_prt_img_wrapper">
                    <img src="assets/UserAssets/images/content/p3.jpg" alt="partner_img">
                  </div>
                </div>
                <div class="item">
                  <div class="lr_prt_img_wrapper">
                    <img src="assets/UserAssets/images/content/p4.jpg" alt="partner_img">
                  </div>
                </div>
                <div class="item">
                  <div class="lr_prt_img_wrapper">
                    <img src="assets/UserAssets/images/content/p5.jpg" alt="partner_img">
                  </div>
                </div>
                <div class="item">
                  <div class="lr_prt_img_wrapper">
                    <img src="assets/UserAssets/images/content/p6.jpg" alt="partner_img">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- lr Partner section End -->




      <!--main js file start-->
      <script src="assets/UserAssets/js/jquery_min.js"></script>
      <script src="assets/UserAssets/js/modernizr.js"></script>
      <script src="assets/UserAssets/js/bootstrap.js"></script>
      <script src="assets/UserAssets/js/owl.carousel.js"></script>
      <script src="assets/UserAssets/js/parallax.min.js"></script>
      <script src="assets/UserAssets/js/tilt.jquery.js"></script>
      <script src="assets/UserAssets/js/jquery.countTo.js"></script>
      <script src="assets/UserAssets/js/jarallax.js"></script>
      <script src="assets/UserAssets/js/jquery.inview.min.js"></script>
      <script src="assets/UserAssets/js/jquery.magnific-popup.js"></script>
      <script src="assets/UserAssets/js/jquery.counterup.min.js"></script>
      <script src="assets/UserAssets/js/jquery.downCount.js"></script>
      <script src="assets/UserAssets/js/waypoints.min.js"></script>
      <script src="assets/UserAssets/js/venobox.min.js"></script>
      <script src="assets/UserAssets/js/custom.js"></script>
      <!--main js file end-->
      <script>
        function initMap() {
          var uluru = {
            lat: -36.742775,
            lng: 174.731559
          };
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            scrollwheel: false,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmdG8C6ItElq5ipuFv6O9AE48wyZm_vqU&amp;callback=initMap">
      </script>
