<div style="background-color: black;">
    <div class="container">
        <div class="row">


            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="lr_inner_title_heading_wrapper">
                    <h2>Available Table <span></span></h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="lr_inner_title_right_Wrapper">
                    <ul>
                        <li><a href="index.html">Home &nbsp;&nbsp;&nbsp;></a></li>
                        <li>Available Table </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>





<div class="lr_event_section_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="lr_ev_main_section_wrapper">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="lr_ev_img_main_wrapper">
                        <div class="lr_ev_img_wrapper">
                            <img src="assets/UserAssets/images/content/tb{{booking.nOofPersons}}.png" alt="table_img">
                        </div>
                        <span class="small_dot1"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="lr_ev_img_cont_wrapper">
                        <ul>
                            <li><i class="fa fa-calendar"></i>&nbsp;&nbsp; 20 june 2018</li>
                            <li><i class="fa fa-clock-o"></i>&nbsp;&nbsp; 12:45pm To 04:26pm</li>
                        </ul>
                        <h2>Master Chife Best Competition</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod terempor incididunt ut re et dolore magna aliqua. Ut enim ad minim veniam, quis nersostrud exercitation ullamco laboris nisi ut aliquip extea.
                        </p>
                        <a [routerLink]="['/order/']" class="lr-btn lr-ev-btn move-eff"><span>PROCEED TO ORDER</span></a>
                        <a [routerLink]="['/search/']" class="lr-btn lr-ev-btn move-eff"><span>BACK TO SEARCH</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
