  <div class="lr_header_navigation_main_wrapper" data-parallax="scroll"
    data-image-src="assets/UserAssets/images/header/banner_bg.jpg">
    <div class="lr_banner_content_main_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-offset-5 col-lg-7 col-md-offset-4 col-md-8 col-sm-offset-2 col-sm-10 col-xs-12">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12" data-tilt="">
                <div class="lr_banner_content_inner_wrapper">
                  <h2>We Know</h2>
                  <h3>How to Make Your<br> Life Awesome<span class="pulse"></span></h3>

                  <a href="#" class="lr-btn move-eff"><span>read more</span></a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 hidden-xs">
                <div class="lr_banner_content_inner_right_wrapper">
                  <div class="lr_banner_content_list_wrapper">
                    <div class="lr_banner_cont_list_icon_wrapper">
                      <i class="flaticon-road"></i>
                      <div class="btc_step_overlay"></div>
                    </div>
                    <div class="lr_banner_cont_list_icon_cont_wrapper">
                      <h3><a href="#">Loction</a></h3>
                    </div>
                  </div>
                  <div class="lr_banner_content_list_wrapper lr_banner_content_list_wrapper2">
                    <div class="lr_banner_cont_list_icon_wrapper">
                      <i class="flaticon-calendar"></i>
                      <div class="btc_step_overlay"></div>
                    </div>
                    <div class="lr_banner_cont_list_icon_cont_wrapper">
                      <h3><a href="#">Resvation</a></h3>
                    </div>
                  </div>
                  <div class="lr_banner_content_list_wrapper lr_banner_content_list_wrapper2">
                    <div class="lr_banner_cont_list_icon_wrapper">
                      <i class="flaticon-food"></i>
                      <div class="btc_step_overlay"></div>
                    </div>
                    <div class="lr_banner_cont_list_icon_cont_wrapper">
                      <h3><a href="#">View Menu</a></h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




<!-- lr index about section Start -->
<div class="lr_index_about_main_section_wrapper">
  <div class="lr_banner_shap_img_wrapper">
    <img src="assets/UserAssets/images/header/shap1.png" alt="shape">
  </div>
  <div class="lr_about_index_particles_effect_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="lr_index_about_img_wrapper">
            <img src="assets/UserAssets/images/content/about_img.jpg" alt="about_img">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="lr_index_about_right_wrapper">
            <h2>Welcome At<span></span></h2>
            <h3>WESTROT RESTAURANT</h3>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim anim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse
              cillum doore eu fgiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.<br><br>Sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
              Ut enim anim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum doore eu fgiat nulla pariatur. Excepteur sint
              occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="#" class="lr-btn lr-btn2 move-eff"><span>ABOUT US</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- lr index about section Start -->





<!-- lr menu section Start -->
<div class="lr_menu_section_main_wrapper jarallax">
  <div class="lr_menu_img_overlay"></div>
  <div class="lr_banner_bottom_shap_img_wrapper">
    <img src="assets/UserAssets/images/header/inner_shap2.png" alt="shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
        <div class="lr_menu_section_heading_wrapper">
          <h2>Special Menu<span></span></h2>
        </div>
        <div class="lr_menu_section_list_wrapper">
          <ul >
            <li *ngFor="let one of foodList;let i=index;">{{one.name}}<span>${{one.price}}</span></li><br />
          </ul>
          <a href="#" class="lr-btn move-eff lr_menu_btn"><span>read more</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- lr menu section End -->
<!-- lr element section Start -->
<div class="lr_element_section_main_wrapper lr_element_section_index1">
  <div class="lr_menu_sec_shap_bottom_img_wrapper">
    <img src="assets/UserAssets/images/header/inner_shap1.png" alt="shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="lr_element_section_heading_wrapper">
          <h2>Best Food Elements<span></span></h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="lr_element_tabs_main_wrapper">
          <ul class="nav nav-tabs" role="tablist">
            <li>
              <div class="slider"></div>
            </li>
            <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">Espresso Coffee</a>
            </li>
            <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">Mocha</a></li>
            <li role="presentation" class=""><a href="#messages" role="tab" data-toggle="tab">Flat White </a></li>
            <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">Long Black</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="lr_element_left_img_main_wrapper hidden-xs">
    <div class="lr_element_img_back_box_wrapper">
      <img src="assets/UserAssets/images/content/e1.jpg" alt="element_img">
    </div>
  </div>
  <div class="lr_element_right_tabs_cont_main_wrapper">
    <div class="lr_element_right_tabs_img_cont_wrapper">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
          <div *ngFor="let one of foodList;let i=index;" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e2.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a [routerLink]="['/foodDetails/',one.id]">{{one.name}}</a></h3>
                <p>${{one.price}}</p>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper4">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e3.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper3">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e4.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper2">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e5.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper2">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e6.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper2">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e7.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e7.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper4">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e6.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper3">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e5.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper2">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e4.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper2">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e3.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper2">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e2.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="messages">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e2.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper4">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e3.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper3">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e4.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper2">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e5.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper2">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e6.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper2">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e7.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="settings">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e7.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper4">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e6.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper3">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e5.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper2">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e4.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper2">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e3.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 res_col">
            <div class="lr_ele_tab_img_box_wrapper lr_ele_tab_img_box_wrapper2">
              <div class="lr_ele_img_box_wrapper">
                <div class="lr_ele_img_box_overlay"></div>
                <img src="assets/UserAssets/images/content/e2.png" alt="food_img">
              </div>
              <div class="lr_ele_img_cont_box_wrapper">
                <h3><a href="#">Vegetable Pakora</a></h3>
                <p>$70.00</p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="lr_element_left_img_main_wrapper visible-xs">
    <div class="lr_element_img_back_box_wrapper">
      <img src="assets/UserAssets/images/content/e1.jpg" alt="element_img">
    </div>
  </div>
</div>
<!-- lr element section End -->
<!-- lr fresh section Start -->
<div class="lr_fresh_section_main_wrapper jarallax">
  <div class="lr_banner_bottom_shap_img_wrapper">
    <img src="assets/UserAssets/images/header/inner_shap2.png" alt="shape">
  </div>
  <div class="lr_fresh_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_fresh_heading_wrapper">
          <h2>Always Fresh, Don’t Miss it<span></span></h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_fresh_food_slider_main_wrapper">
          <div class="lr_ff_slider_first_wrapper">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="lr_ff_slider_img_wrapper">
                  <img src="assets/UserAssets/images/content/f1.jpg" alt="fresh_food_img">
                </div>
              </div>
              <div class="item">
                <div class="lr_ff_slider_img_wrapper">
                  <img src="assets/UserAssets/images/content/f2.jpg" alt="fresh_food_img">
                </div>
              </div>
              <div class="item">
                <div class="lr_ff_slider_img_wrapper">
                  <img src="assets/UserAssets/images/content/f1.jpg" alt="fresh_food_img">
                </div>
              </div>
            </div>
          </div>
          <div class="lr_ff_slider_cont_first_wrapper">
            <h2>Try The Best Pizza & Food In The City</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed does eiusmod tempor incididunt ut ipsum
              dolor sit amet,tetur ipisicing elit, sed doeiusmod tempor incididunt.</p>
            <div class="lr_ff_main_btn_wrapper">
              <a href="#" class="lr-btn-background move-eff lr_ff_btn2"><span>buy now</span></a>
              <a href="#" class="lr-btn move-eff lr_ff_btn1"><span>view offer</span></a>
            </div>
            <div class="lr_ff_price_lable_wrapper">
              <h5>Start $25</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_fresh_food_slider_main_wrapper">

          <div class="lr_ff_slider_cont_first_wrapper lr_ff_slider_cont_second_wrapper hidden-xs">
            <h2>Try The Best Pizza & Food In The City</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed does eiusmod tempor incididunt ut ipsum
              dolor sit amet,tetur ipisicing elit, sed doeiusmod tempor incididunt.</p>
            <div class="lr_ff_main_btn_wrapper">
              <a href="#" class="lr-btn-background move-eff lr_ff_btn2"><span>buy now</span></a>
              <a href="#" class="lr-btn move-eff lr_ff_btn1"><span>view offer</span></a>
            </div>
            <div class="lr_ff_price_lable_wrapper">
              <h5>Start $25</h5>
            </div>
          </div>
          <div class="lr_ff_slider_second_wrapper">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="lr_ff_slider_img_wrapper">
                  <img src="assets/UserAssets/images/content/f2.jpg" alt="fresh_food_img">
                </div>
              </div>
              <div class="item">
                <div class="lr_ff_slider_img_wrapper">
                  <img src="assets/UserAssets/images/content/f1.jpg" alt="fresh_food_img">
                </div>
              </div>
              <div class="item">
                <div class="lr_ff_slider_img_wrapper">
                  <img src="assets/UserAssets/images/content/f2.jpg" alt="fresh_food_img">
                </div>
              </div>
            </div>
          </div>
          <div class="lr_ff_slider_cont_first_wrapper lr_ff_slider_cont_second_wrapper visible-xs">
            <h2>Try The Best Pizza & Food In The City</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed does eiusmod tempor incididunt ut ipsum
              dolor sit amet,tetur ipisicing elit, sed doeiusmod tempor incididunt.</p>
            <div class="lr_ff_main_btn_wrapper">
              <a href="#" class="lr-btn-background move-eff lr_ff_btn2"><span>buy now</span></a>
              <a href="#" class="lr-btn move-eff lr_ff_btn1"><span>view offer</span></a>
            </div>
            <div class="lr_ff_price_lable_wrapper lr_ff_price_lable_wrapper2">
              <h5>Start $25</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lr_ff_bottom_shape_wrapper">
    <img src="assets/UserAssets/images/header/inner_shap1.png" alt="shape">
  </div>
</div>
<!-- lr fresh section End -->
<!-- lr reservation section Start -->
<div class="lr_reser_main_section_wrapper">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="lr_reser_heading_main_wrapper">
      <h2><span class="lr_dots_left"></span>Make A Reservation<span class="lr_dots_right"></span></h2>
    </div>
  </div>
  <div class="lr_reser_map_left_wrapper">
    <div id="map"></div>
  </div>
  <div class="lr_reser_map_right_wrapper">
    <div class="lr_reser_map_right_inner_wrapper">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_reser_inner_heading">
          <h2>Reservation</h2>
          <p>+1800-154-175</p>
        </div>
      </div>
      <div class="lr_reser_input_box_main_wrapper">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="lr_reser_input_box_Wrapper">
            <input type="text" placeholder="Name">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="lr_reser_input_box_Wrapper">
            <input type="text" placeholder="Email">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="lr_reser_input_box_Wrapper">
            <input type="text" placeholder="Date">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="lr_reser_input_box_Wrapper">
            <input type="text" placeholder="08:00am">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="lr_reser_input_box_Wrapper">
            <select>
              <option>No.of Guest</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="lr_reser_input_box_Wrapper">
            <select>
              <option>No.of Table</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="lr_reser_input_box_Wrapper">
            <textarea rows="4" placeholder="Message"></textarea>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="lr_reser_input_box_Wrapper">
            <a href="#" class="lr_reser_btn_background move-eff lr_ff_btn2"><span>Book Table</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="lr_reser_map_right_inner_img_wrapper">
      <img src="assets/UserAssets/images/content/sheif_img.png" alt="reser_img">
    </div>
  </div>
</div>
<!-- lr reservation section End -->
<!-- lr testimonial section Start -->
<div class="lr_testi_main_section_wrapper jarallax">
  <div class="lr_testi_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_testi_heading_wrapper">
          <h2>Testimonial<span></span></h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_testi_slider_wrapper">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="lr_testi_slider_cont_main_wrapper">
                <div class="lr_testi_slider_img">
                  <img src="assets/UserAssets/images/content/blog/comment_img1.jpg" alt="tesi_img">
                </div>
                <div class="lr_testi_slider_img_cont">
                  <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident.</p>
                  <h2><span>Tanvi S.</span>&nbsp;&nbsp;( Masterchef Team Leader )</h2>
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="lr_testi_slider_cont_main_wrapper">
                <div class="lr_testi_slider_img">
                  <img src="assets/UserAssets/images/content/blog/bs2.png" alt="tesi_img">
                </div>
                <div class="lr_testi_slider_img_cont">
                  <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident.</p>
                  <h2><span>Tanvi S.</span>&nbsp;&nbsp;( Masterchef Team Leader )</h2>
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="lr_testi_slider_cont_main_wrapper">
                <div class="lr_testi_slider_img">
                  <img src="assets/UserAssets/images/content/testi_img.html" alt="tesi_img">
                </div>
                <div class="lr_testi_slider_img_cont">
                  <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident.</p>
                  <h2><span>Tanvi S.</span>&nbsp;&nbsp;( Masterchef Team Leader )</h2>
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lr_ff_bottom_shape_wrapper">
    <img src="assets/UserAssets/images/header/inner_shap1.png" alt="shape">
  </div>
</div>
<!-- lr testimonial section End -->
<!-- lr event section Start -->
<div class="lr_event_section_main_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_reser_heading_main_wrapper">
          <h2><span class="lr_dots_left"></span>Recent Events<span class="lr_dots_right"></span></h2>
        </div>
      </div>
      <div class="lr_ev_main_section_wrapper">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="lr_ev_img_main_wrapper">
            <div class="lr_ev_img_wrapper">
              <img src="assets/UserAssets/images/content/ev1.jpg" alt="event_img">
            </div>
            <span class="small_dot1"></span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="lr_ev_img_cont_wrapper">
            <ul>
              <li><i class="fa fa-calendar"></i>&nbsp;&nbsp; 20 june 2018</li>
              <li><i class="fa fa-clock-o"></i>&nbsp;&nbsp; 12:45pm To 04:26pm</li>
            </ul>
            <h2>Master Chife Best Competition</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod terempor incididunt ut re et
              dolore magna aliqua. Ut enim ad minim veniam, quis nersostrud exercitation ullamco laboris nisi ut
              aliquip extea.</p>
            <a href="#" class="lr-btn lr-ev-btn move-eff"><span>BOOK NOW</span></a>
          </div>
        </div>
      </div>
      <div class="lr_ev_main_section_wrapper lr_ev_main_section_wrapper2">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">
          <div class="lr_ev_img_cont_wrapper">
            <ul>
              <li><i class="fa fa-calendar"></i>&nbsp;&nbsp; 20 june 2018</li>
              <li><i class="fa fa-clock-o"></i>&nbsp;&nbsp; 12:45pm To 04:26pm</li>
            </ul>
            <h2>Master Chife Best Competition</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod terempor incididunt ut re et
              dolore magna aliqua. Ut enim ad minim veniam, quis nersostrud exercitation ullamco laboris nisi ut
              aliquip extea.</p>
            <a href="#" class="lr-btn lr-ev-btn move-eff"><span>BOOK NOW</span></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="lr_ev_img_main_wrapper">
            <span class="small_dot2"></span>
            <div class="lr_ev_img_wrapper">
              <img src="assets/UserAssets/images/content/ev2.jpg" alt="event_img">
            </div>
            <span class="small_dot3"></span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 visible-sm visible-xs">
          <div class="lr_ev_img_cont_wrapper">
            <ul>
              <li><i class="fa fa-calendar"></i>&nbsp;&nbsp; 20 june 2018</li>
              <li><i class="fa fa-clock-o"></i>&nbsp;&nbsp; 12:45pm To 04:26pm</li>
            </ul>
            <h2>Master Chife Best Competition</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod terempor incididunt ut re et
              dolore magna aliqua. Ut enim ad minim veniam, quis nersostrud exercitation ullamco laboris nisi ut
              aliquip extea.</p>
            <a href="#" class="lr-btn lr-ev-btn move-eff"><span>BOOK NOW</span></a>
          </div>
        </div>
      </div>
      <div class="lr_ev_main_section_wrapper lr_ev_main_section_wrapper2">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="lr_ev_img_main_wrapper">
            <span class="small_dot2 small_dot4"></span>
            <div class="lr_ev_img_wrapper">
              <img src="assets/UserAssets/images/content/ev3.jpg" alt="event_img">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="lr_ev_img_cont_wrapper">
            <ul>
              <li><i class="fa fa-calendar"></i>&nbsp;&nbsp; 20 june 2018</li>
              <li><i class="fa fa-clock-o"></i>&nbsp;&nbsp; 12:45pm To 04:26pm</li>
            </ul>
            <h2>Master Chife Best Competition</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod terempor incididunt ut re et
              dolore magna aliqua. Ut enim ad minim veniam, quis nersostrud exercitation ullamco laboris nisi ut
              aliquip extea.</p>
            <a href="#" class="lr-btn lr-ev-btn move-eff"><span>BOOK NOW</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- lr event section End -->
<!-- lr counter section Start -->
<div class="lr_count_main_section_wrapper jarallax">
  <div class="lr_banner_bottom_shap_img_wrapper">
    <img src="assets/UserAssets/images/header/inner_shap2.png" alt="shape">
  </div>
  <div class="lr_count_img_overlay"></div>
  <section class="counter-section section-padding">
    <div class="container text-center">
      <div class="row">
        <div class="trucking_counter">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="con con_right_border">
              <i class="flaticon-chef-hat-outline-symbol"></i>
            </div>
            <div class="count-description">
              <span class="timer">513</span>
              <h5 class="con1">Delicious Dishes</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="con con_right_border con2">
              <i class="flaticon-cup"></i>
            </div>
            <div class="count-description">
              <span class="timer">7325</span>
              <h5 class="con2">Years Of Experience</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="con con_right_border con3">
              <i class="flaticon-user"></i>
            </div>
            <div class="count-description">
              <span class="timer">1924</span>
              <h5 class="con3">Happy Clents</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="con con4">
              <i class="flaticon-trophy"></i>
            </div>
            <div class="count-description">
              <span class="timer">4275</span>
              <h5 class="con4">Deserved Awards</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="lr_ff_bottom_shape_wrapper">
    <img src="assets/UserAssets/images/header/inner_shap1.png" alt="shape">
  </div>
</div>
<!-- lr counter section End -->
<!-- lr Blog section Start -->
<div class="lr_indx_blog_main_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_reser_heading_main_wrapper">
          <h2><span class="lr_dots_left"></span>Latest Blog<span class="lr_dots_right"></span></h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_index_bog_slider_wrapper">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="lr_in_bog_slider_cont_wrapper">
                <h2>Master Chife Best Competition</h2>
                <ul>
                  <li><i class="fa fa-user-o"></i>&nbsp; <a href="#">Ajay s.</a></li>
                  <li><i class="fa fa-thumbs-up"></i>&nbsp; <a href="#">512 Like</a></li>
                  <li><i class="fa fa-comments-o"></i>&nbsp; <a href="#">28 comments</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do mod tempor incididunt ut labore et
                  dolore magna aliqua. d minim veniam, quis nostrud exercitation ullamco laboris</p>
                <a href="#" class="lr_reser_btn_background move-eff lr_ff_btn2"><span>Book now</span></a>
                <div class="lr_blg_date_wrapper">
                  <p>21<br> <span>march</span></p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="lr_in_bog_slider_cont_wrapper">
                <h2>Master Chife Best Competition</h2>
                <ul>
                  <li><i class="fa fa-user-o"></i>&nbsp; <a href="#">Ajay s.</a></li>
                  <li><i class="fa fa-thumbs-up"></i>&nbsp; <a href="#">512 Like</a></li>
                  <li><i class="fa fa-comments-o"></i>&nbsp; <a href="#">28 comments</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do mod tempor incididunt ut labore et
                  dolore magna aliqua. d minim veniam, quis nostrud exercitation ullamco laboris</p>
                <a href="#" class="lr_reser_btn_background move-eff lr_ff_btn2"><span>Book now</span></a>
                <div class="lr_blg_date_wrapper">
                  <p>21<br> <span>march</span></p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="lr_in_bog_slider_cont_wrapper">
                <h2>Master Chife Best Competition</h2>
                <ul>
                  <li><i class="fa fa-user-o"></i>&nbsp; <a href="#">Ajay s.</a></li>
                  <li><i class="fa fa-thumbs-up"></i>&nbsp; <a href="#">512 Like</a></li>
                  <li><i class="fa fa-comments-o"></i>&nbsp; <a href="#">28 comments</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do mod tempor incididunt ut labore et
                  dolore magna aliqua. d minim veniam, quis nostrud exercitation ullamco laboris</p>
                <a href="#" class="lr_reser_btn_background move-eff lr_ff_btn2"><span>Book now</span></a>
                <div class="lr_blg_date_wrapper">
                  <p>21<br> <span>march</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- lr Blog section End -->
<!-- lr team section Start -->
<div class="lr_team_main_section_wrapper jarallax">
  <div class="lr_banner_bottom_shap_img_wrapper">
    <img src="assets/UserAssets/images/header/inner_shap2.png" alt="shape">
  </div>
  <div class="lr_team_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_team_heading_wrapper">
          <h2>Our Best Chef<span></span></h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_team_slider_wrapper">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="lr_team_box_main_wrapper">
                <div class="lr_team_img_wrapper">
                  <img src="assets/UserAssets/images/content/t1.png" alt="team_img">
                </div>
                <div class="lr_team_img_cont_wrapper">
                  <div class="lr_team_social_left_wrapper">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                  </div>
                  <div class="lr_team_name_center_wrapper">
                    <h3><a href="#">Ajay S.</a></h3>
                    <p>(Senior Chef)</p>
                  </div>
                  <div class="lr_team_social_right_wrapper">
                    <ul>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="lr_team_box_main_wrapper">
                <div class="lr_team_img_wrapper">
                  <img src="assets/UserAssets/images/content/t2.png" alt="team_img">
                </div>
                <div class="lr_team_img_cont_wrapper">
                  <div class="lr_team_social_left_wrapper">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                  </div>
                  <div class="lr_team_name_center_wrapper">
                    <h3><a href="#">Shruti J.</a></h3>
                    <p>(Senior Chef)</p>
                  </div>
                  <div class="lr_team_social_right_wrapper">
                    <ul>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="lr_team_box_main_wrapper">
                <div class="lr_team_img_wrapper">
                  <img src="assets/UserAssets/images/content/t3.png" alt="team_img">
                </div>
                <div class="lr_team_img_cont_wrapper">
                  <div class="lr_team_social_left_wrapper">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                  </div>
                  <div class="lr_team_name_center_wrapper">
                    <h3><a href="#">Ajay S.</a></h3>
                    <p>(Senior Chef)</p>
                  </div>
                  <div class="lr_team_social_right_wrapper">
                    <ul>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lr_ff_bottom_shape_wrapper">
    <img src="assets/UserAssets/images/header/inner_shap1.png" alt="shape">
  </div>
</div>
<!-- lr team section End -->
<!-- lr Partner section Start -->
<div class="lr_partner_main_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_reser_heading_main_wrapper">
          <h2><span class="lr_dots_left"></span>Our Patner’s<span class="lr_dots_right"></span></h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="lr_prt_slider_wrapper">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="lr_prt_img_wrapper">
                <img src="assets/UserAssets/images/content/p1.jpg" alt="partner_img">
              </div>
            </div>
            <div class="item">
              <div class="lr_prt_img_wrapper">
                <img src="assets/UserAssets/images/content/p2.jpg" alt="partner_img">
              </div>
            </div>
            <div class="item">
              <div class="lr_prt_img_wrapper">
                <img src="assets/UserAssets/images/content/p3.jpg" alt="partner_img">
              </div>
            </div>
            <div class="item">
              <div class="lr_prt_img_wrapper">
                <img src="assets/UserAssets/images/content/p4.jpg" alt="partner_img">
              </div>
            </div>
            <div class="item">
              <div class="lr_prt_img_wrapper">
                <img src="assets/UserAssets/images/content/p5.jpg" alt="partner_img">
              </div>
            </div>
            <div class="item">
              <div class="lr_prt_img_wrapper">
                <img src="assets/UserAssets/images/content/p6.jpg" alt="partner_img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- lr Partner section End -->
